body {
  font-family: 'Verdana', sans-serif;
	margin-left: 3%;
	margin-right: 4%;
	margin-top: 2%;
	margin-bottom: 2%;
}

a {
  text-decoration: none;
  color: #002366;
}

a:hover {
  color: grey;
}

h1 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1;
  color: #002366;
}

#descrip {
  font-size: 0.9rem;
  margin-bottom: .5rem;
}

#authors {
  margin-top: .6rem;
  margin-bottom: .6rem;
  font-size: 0.7rem;
}

.d3-tip {
  line-height: 1;
  padding: 4px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  border-radius: 2px;
  pointer-events: none;
  border: solid 1px black;
  font-size: 10px;
  text-align: center;
}
